html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Open Sans", sans-serif; }

header {
  background: url("../img/main-bg.png") no-repeat center;
  background-size: cover;
  padding-bottom: 143px; }
  header .head-wrapper {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
    padding: 0 10%; }
  header .logo {
    margin-top: 5px;
    float: left; }
  header nav ul {
    float: right; }
  header nav li {
    float: left; }
  header nav a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 50px 15px;
    font-family: "Gentium Book Basic", serif;
    font-size: 21px;
    border-top: 2px solid transparent; }
    header nav a:hover {
      border-top: 2px solid #ffffff; }
  header nav:after {
    content: "";
    display: block;
    clear: both; }
  header h1 {
    text-align: center;
    font-size: 90px;
    color: #ffffff;
    font-family: "Yeseva One", cursive;
    margin-top: 120px; }
  header .buttons {
    margin: 0 auto;
    width: 490px;
    margin-top: 125px;
    height: 60px;
    position: relative; }
    header .buttons:before {
      background: url("../img/divider.png");
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: -75px;
      width: 232px;
      height: 43px; }
  header button {
    width: 230px;
    height: 60px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #000000;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    float: left; }
    header button:last-child {
      background: rgba(255, 255, 255, 0.2);
      border-color: #ffffff;
      margin-left: 30px; }
    header button:hover {
      border-color: #c89f2d; }
    header button:focus {
      outline: none;
      border-color: #c89f2d; }
    header button:after {
      content: "";
      display: block;
      clear: both; }

.about-section {
  background: url("../img/dish-pattern.png");
  padding: 70px 0 50px;
  margin: 0 auto;
  text-align: center; }
  .about-section .about-wrapper {
    display: inline-block; }
  .about-section .chef {
    float: left;
    width: 450px; }
    .about-section .chef h2 {
      font-size: 36px;
      font-family: "Yeseva One", cursive;
      color: #c89f2d; }
    .about-section .chef p {
      margin: 78px 0 50px;
      font-size: 16px;
      line-height: 24px;
      position: relative; }
      .about-section .chef p:before {
        background: url("../img/divider-g.png");
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -50px;
        width: 247px;
        height: 25px; }
    .about-section .chef .chef-img {
      position: relative;
      left: 40px; }
  .about-section .dish {
    float: left; }
  .about-section:after {
    content: "";
    display: block;
    clear: both; }

.ingredients-section {
  padding: 100px 10%;
  background: url("../img/section-bg.png");
  background-size: cover; }
  .ingredients-section .ingredients-wrapper {
    width: 570px;
    height: 560px;
    box-sizing: border-box;
    padding: 85px 60px 75px;
    background: rgba(0, 0, 0, 0.65);
    text-align: center;
    float: right; }
  .ingredients-section h2 {
    font-family: "Yeseva One", cursive;
    font-size: 36px;
    color: #ffffff; }
  .ingredients-section p {
    margin-top: 70px;
    color: #ffffff;
    line-height: 24px;
    position: relative; }
    .ingredients-section p:before {
      background-image: url("../img/divider-s.png");
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: -50px;
      width: 252px;
      height: 24px; }
  .ingredients-section .img-wrapper {
    margin: 65px 0; }
  .ingredients-section .ingredient-img {
    width: 100px;
    height: 100px;
    background: url("../img/images.png");
    border-radius: 100px;
    border: 5px solid #3a3a3a;
    display: inline-block;
    margin: 0 15px; }
    .ingredients-section .ingredient-img:nth-child(2) {
      background-position: 0 200px; }
    .ingredients-section .ingredient-img:nth-child(3) {
      background-position: 0 100px; }
  .ingredients-section:after {
    content: "";
    display: block;
    clear: both; }

.menu-section {
  padding: 100px 20px;
  text-align: center;
  background: url("../img/menu-pattern-s.png"); }
  .menu-section .menu-column {
    display: inline-block;
    vertical-align: top;
    margin-right: 160px; }
    .menu-section .menu-column:last-child {
      margin-right: 0; }
  .menu-section .menu-card {
    width: 450px;
    margin-bottom: 70px; }
    .menu-section .menu-card:last-child {
      margin-bottom: 0; }
  .menu-section h3 {
    font-size: 36px;
    font-family: "Yeseva One", cursive;
    color: #c89f2d;
    text-align: center;
    margin-bottom: 60px; }
  .menu-section ul {
    position: relative; }
    .menu-section ul:before {
      background: url("../img/divider-g.png");
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: -45px;
      width: 247px;
      height: 25px; }
  .menu-section li {
    line-height: 35px;
    padding: 5px 10px;
    margin-bottom: 15px; }
    .menu-section li:last-child {
      margin-bottom: 0; }
  .menu-section .special {
    border: 1px solid rgba(200, 159, 45, 0.6);
    position: relative; }
    .menu-section .special:before {
      content: "Special";
      display: block;
      position: absolute;
      top: -20px;
      right: -1px;
      font-size: 14px;
      color: #ffffff;
      line-height: 20px;
      width: 60px;
      height: 20px;
      background-color: rgba(200, 159, 45, 0.7); }
  .menu-section h4 {
    float: left;
    font-size: 21px;
    color: #c89f2d;
    font-family: "Yeseva One", cursive; }
  .menu-section span {
    font-size: 21px;
    float: right;
    font-family: "Yeseva One", cursive;
    color: #c89f2d; }
  .menu-section p {
    clear: both;
    border-top: 1px solid rgba(200, 159, 45, 0.4); }

.review-section {
  background: url("../img/reviews-bg.png");
  background-size: cover;
  padding: 100px 0;
  text-align: center; }
  .review-section .review-container {
    width: 770px;
    height: 550px;
    display: inline-block;
    padding: 75px 70px 100px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8); }
  .review-section h2 {
    font-size: 36px;
    font-family: "Yeseva One", cursive;
    color: #ffffff;
    margin-bottom: 75px; }
  .review-section blockquote {
    position: relative; }
    .review-section blockquote:before {
      background: url("../img/divider-s.png");
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: -50px;
      width: 252px;
      height: 24px; }
  .review-section p {
    color: #ffffff;
    line-height: 45px;
    font-size: 25px;
    font-family: "Gentium Book Basic", serif; }
  .review-section footer {
    color: #ffffff;
    margin-top: 45px; }

.reservation-section {
  padding: 100px 0;
  text-align: center;
  background: url("../img/dish-pattern.png"); }
  .reservation-section .reservation-images {
    display: inline-block;
    margin-right: 4%; }
  .reservation-section img {
    display: inline-block;
    margin-right: 30px; }
    .reservation-section img:last-child {
      margin-right: 0; }
  .reservation-section .reservation-container {
    display: inline-block;
    vertical-align: top;
    width: 435px; }
  .reservation-section h2 {
    font-size: 36px;
    font-family: "Yeseva One", cursive;
    color: #c89f2d;
    margin-bottom: 65px;
    position: relative; }
    .reservation-section h2:after {
      background: url("../img/divider-g.png");
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 60px;
      width: 247px;
      height: 25px; }
  .reservation-section p {
    padding: 10px 5px;
    line-height: 24px; }
  .reservation-section form {
    margin-top: 45px; }
  .reservation-section label {
    text-align: left;
    display: inline-block;
    color: #c89f2d;
    font-weight: bold;
    margin-right: 30px; }
    .reservation-section label:nth-child(even) {
      margin-right: 0; }
  .reservation-section input {
    display: block;
    width: 200px;
    height: 35px;
    box-sizing: border-box;
    padding: 4px 10px;
    margin: 10px 0 25px 0;
    font-size: 16px; }
    .reservation-section input:focus {
      font-style: normal;
      outline: none;
      border: 1px solid #c89f2d; }
  .reservation-section button {
    width: 200px;
    height: 36px;
    background-color: #c89f2d;
    border: none;
    color: #ffffff;
    cursor: pointer; }
    .reservation-section button:hover {
      background-color: #d7ae3c;
      border: 1px solid #c89f2d; }

.main-footer {
  background-color: #191919;
  color: #ffffff;
  padding: 60px 0;
  text-align: center; }
  .main-footer .about-elem {
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
    width: 355px; }
    .main-footer .about-elem:first-child {
      margin-left: 0; }
  .main-footer h3 {
    font-size: 21px;
    font-family: "Yeseva One", cursive;
    margin-bottom: 60px; }
  .main-footer p {
    line-height: 24px;
    position: relative; }
    .main-footer p:before {
      background: url("../img/divider-s.png");
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: -40px;
      width: 252px;
      height: 24px; }
  .main-footer span {
    font-weight: bold; }
